## <u>MIN-MAX Scaler / NORMALISATION</u>

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('Car_details.csv')

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [17]:
# we are taking only numeric value column
df = df[['selling_price','km_driven','year']]

In [18]:
df.head()

   selling_price  km_driven  year
0          60000      70000  2007
1         135000      50000  2007
2         600000     100000  2012
3         250000      46000  2017
4         450000     141000  2014

## <u> Applying Normalisation

### <b>if we train our model on above data by default it will dominant on higher value column here it is <u>selling price</u> so that's why we use <i> feature scaling </i> and <u> Normalisation </u> is one of its type</b>

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scale=MinMaxScaler()

In [22]:
scaled_df=scale.fit_transform(df)

In [23]:
scaled_df

array([[0.0045045 , 0.08678301, 0.53571429],
       [0.01295045, 0.06198751, 0.53571429],
       [0.06531532, 0.12397626, 0.71428571],
       ...,
       [0.01013514, 0.10290008, 0.60714286],
       [0.09515766, 0.11157851, 0.85714286],
       [0.02308559, 0.04958976, 0.85714286]])

In [24]:
scaled_df = pd.DataFrame(data=scaled_df , columns=df.columns)
scaled_df

      selling_price  km_driven      year
0          0.004505   0.086783  0.535714
1          0.012950   0.061988  0.535714
2          0.065315   0.123976  0.714286
3          0.025901   0.057028  0.892857
4          0.048423   0.174807  0.785714
...             ...        ...       ...
4335       0.043919   0.099181  0.785714
4336       0.043919   0.099181  0.785714
4337       0.010135   0.102900  0.607143
4338       0.095158   0.111579  0.857143
4339       0.023086   0.049590  0.857143

[4340 rows x 3 columns]

# this feature scaling is always done after train test split

In [25]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler

In [26]:
X = df.drop(columns=['selling_price'])
y=df['selling_price']

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,y ,test_size=0.2,random_state=42)

In [28]:
new_scaler=MinMaxScaler()

In [31]:
X_train_scale=new_scaler.fit_transform(X_train)
X_test_scale=new_scaler.transform(X_test)

In [35]:
X_train_scale=pd.DataFrame(data=X_train_scale,columns=X_train.columns)
X_test_scale=pd.DataFrame(data=X_test_scale,columns=X_test.columns)

In [34]:
X_train_scale

      km_driven      year
0      0.024794  0.892857
1      0.061988  0.928571
2      0.030993  0.750000
3      0.086783  0.678571
4      0.089263  0.892857
...         ...       ...
3467   0.061988  0.500000
3468   0.099181  0.678571
3469   0.063227  0.857143
3470   0.099181  0.750000
3471   0.099181  0.750000

[3472 rows x 2 columns]